<ion-header>
  <ion-toolbar>
    <ion-title>changer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Ancien mot de pass</ion-label>
    <ion-input type="text" name="ancien"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nouveaun mot de pass</ion-label>
    <ion-input type="text"name="nouveau mot de pass"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Confirmer</ion-label>
    <ion-input type="text" name="confirmer"></ion-input>
  </ion-item>
  <ion-button type="submit">changer mot de pass</ion-button>

</ion-content>
