<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-label>{{nom}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Prenom</ion-label>
    <ion-label>{{prenom}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-label>{{email}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Telephone</ion-label>
    <ion-label>{{telephone}}</ion-label>
  </ion-item>
  <ion-button routerLink="/changer" expand="full">Reiniser Mot de pass</ion-button>

</ion-content>
