<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <form #data="ngForm" (ngSubmit)="createUser(data)">
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input type="text" name="nom" ngModel placeholder="Votre nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>prenom</ion-label>
    <ion-input type="text" name="prenom" ngModel placeholder="Votre prenom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="text" name="email" ngModel placeholder="Votre login"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" name="password" ngModel placeholder="Mot de pass..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Telephone</ion-label>
    <ion-input type="numbert" name="tel" ngModel placeholder="Votre telephone"></ion-input>
  </ion-item>
  <ion-button expand="block" type="submit">Rengistrer</ion-button>
 </form>
</ion-content>
